#logo {
    background-image: url('../../assets/logo.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 16vw;
    height: 16vw;
    margin: auto;
}