body{
    background-color: #1a1b1d;
    color: red;
    font-family: 'Winky Rough', system-ui;
    font-family: 'Winky Rough', system-ui;
    max-width: 1200px;
    margin: 0 auto;
}

.home-background {
    background-image: url('assets/background3.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.dark{
    background-color: #1a1b1d;;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
