body{
    background-color: #1a1b1d;
    color: red;
    font-family: 'Winky Rough', system-ui;
    font-family: 'Winky Rough', system-ui;
}

.home-background {
    background-image: url('assets/background3.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

.dark{
    background-color: #1a1b1d;;
}